.navbarleft{
    z-index: 9999;
    background-image: var(--gradient-color-nav);
    height: 100%;
    position: fixed;
    display: flex;
    transition: 0.4s all ease-in-out;
}

.header-navbarleft {
    margin: auto 0%;
    width: 213px;
    padding: 0 110px 0 100px;
    transition: 0.2s all ease-out;
}

.header-navbarleft ul {
    list-style-type: none;
}

.header-navbarleft ul li {
    margin: 42px 0;
    cursor: pointer;
    padding-right: 10px;
    opacity: 0;
    transition: 0.5s;
    transform: translateX(-20%);
}

.header-navbarleft_1 ul li:nth-child(1) {
    transition-delay: 0.30s;
    transform: translateX(0%);
    opacity: 1;
}

.header-navbarleft_1 ul li:nth-child(2) {
    transition-delay: 0.40s;
    transform: translateX(0%);
    opacity: 1;
}

.header-navbarleft_1 ul li:nth-child(3) {
    transition-delay: 0.50s;
    transform: translateX(0%);
    opacity: 1;
}

.header-navbarleft_1 ul li:nth-child(4) {
    transition-delay: 0.60s;
    transform: translateX(0%);
    opacity: 1;
}

.header-navbarleft_1 ul li:nth-child(5) {
    transition-delay: 0.75s;
    transform: translateX(0%);
    opacity: 1;
}

.header-navbarleft ul a {
    text-decoration: none;
    color: white;
    font-size: 26px;
    position: relative;
    font-family:Noto Sans JP;
    font-weight: 400;
    letter-spacing: 0.3px;
}

.header-navbarleft ul li a::after {
    position: absolute;
    content: "";
    width: 0%;
    height: 2.5px;
    background-color: white;
    bottom: -6px;
    left: 0;
    transition: 0.4s ease;
}

.header-navbarleft ul li:hover a::after {
    position: absolute;
    content: "";
    width: 100%;
}

.header-navbarleft-button{
    position: relative;
    background-image: var(--gradient-color-nav);
    height: 100%;
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

.black-btn-control{
    position: absolute;
    background-color: black;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 0.2s all ease-out;
}
.header-navbarleft-button:hover .black-btn-control{
    opacity: 0.2;
}

.btn-control{
    position: relative;
    width: 50px;
    height: 50px; 
    transition: 0.3s all;
}

.btn-control svg:nth-child(1){
    position: absolute;
    width: 40px;
    height: 40px;
    top: 0;
    bottom: 0px;
    left: -7px;
    margin: auto;
}

.btn-control svg:nth-child(2){
    position: absolute;
    width: 60px;
    height: 60px; 
    top: 0;
    bottom: 0px;
    right: -8px;
    margin: auto;
}

.dark-window {
    position: fixed;
    z-index: 9991;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    transition: 0.4s all;
}

